﻿@page
@model PostVenta.Web.Pages.Asistencias.IndexModel
@{
}




<header class="content__title">
    <h1>Módulo de asistencias</h1>
</header>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Listado de asistencias</h4>
        <div class="actions">
            <a asp-page="Crear" class="btn btn-primary">Agregar</a>
        </div>
        <div class="table-responsive">
            <div id="grid" style="width: 2500px;"></div>
        </div>
    </div>
</div>


@section Csses
    {
    <link href="~/css/kendo.bootstrap-v4.min.css" rel="stylesheet" />
}

@section Scripts
    {
    <script src="~/js/jszip.min.js"></script>
    <script src="~/js/kendo.all.min.js"></script>
    <script src="~/js/kendo.culture.es-CL.min.js"></script>
    <script src="~/js/kendo.messages.es-ES.min.js"></script>
    <script>

        $(document).ready(function () {
            $("#grid").kendoGrid({
                toolbar: ["excel"],
                excel: {
                    fileName: "Asistencias.xlsx",
                    filterable: true
                },
                dataSource: {
                    transport: {
                        read: {
                            url: `../../api/Asistencias`
                        }
                    },
                    schema: {
                        data: function (response) {
                            return response.asistencias;
                        },
                        model: {
                            fields: {
                                id: { type: "number" },
                                fechaRegistro: { type: "date" },
                                observacion: { type: "string" }
                            }
                        }
                    },
                    pageSize: 20
                },
                height: 550,
                scrollable: false,
                sortable: true,
                filterable: true,
                pageable: {
                    input: true,
                    numeric: false
                },
                columns: [
                    { hidden: true, field: "id" },
                    { field: "fechaRegistro", title: "Fecha Registro", format: "{0:dd/MM/yyyy}" },
                    { field: "observacion", title: "Observacion" }
                ]
            });
            $("#grid").data("kendoGrid").wrapper.find(".k-grid-header-wrap").off("scroll.kendoGrid");
        });

    </script>
}