﻿@page
@model PostVenta.Web.Pages.Inspecciones.CrearModel
@{
}


<header class="content__title">
    <h1>Crear Inspección</h1>
</header>
<div class="card">
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Vm.Id" />
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Información Principal</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Vm.Folio"></label>
                                <input type="text" class="form-control" asp-for="Vm.Folio" maxlength="120">
                                <div asp-validation-for="Vm.Folio" class="invalid-feedback"></div>
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Vm.FechaInspeccion"></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span><i class="zmdi zmdi-calendar"></i></span>
                                    </div>
                                    <input asp-for="Vm.FechaInspeccion" type="text" class="form-control date-picker">
                                    <div asp-validation-for="Vm.FechaInspeccion" class="invalid-feedback"></div>
                                    <input type="hidden" value="@Model.Vm.FechaInspeccion" id="hdnFechaNac" />
                                </div>
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Vm.Rut"></label>
                                <input type="text" class="form-control" asp-for="Vm.Rut" maxlength="14" rut>
                                <div asp-validation-for="Vm.Rut" class="invalid-feedback"></div>
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Vm.VehiculoPatente"></label>
                                <input type="text" class="form-control" asp-for="Vm.VehiculoPatente" maxlength="120">
                                <div asp-validation-for="Vm.VehiculoPatente" class="invalid-feedback"></div>
                                <i class="form-group__bar"></i>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Vm.Observacion"></label>
                                <input type="text" class="form-control" asp-for="Vm.Observacion"></" maxlength="120">
                                <div asp-validation-for="Vm.Observacion" class="invalid-feedback"></div>
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Vm.TipoEstado"></label>
                                <div class="select">
                                    <select asp-for="Vm.TipoEstado" asp-items="Html.GetEnumSelectList<Core.Dominio.Tipos.TiposEstado>().Where(t => !string.IsNullOrEmpty(t.Text)).OrderBy(t => t.Text)" class="form-control">
                                        <option value="" selected=""></option>
                                    </select>
                                </div>
                                <div asp-validation-for="Vm.TipoEstado" class="invalid-feedback"></div>
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="Vm.Comentario"></label>
                                <textarea class="form-control" rows="2" placeholder="No indica" asp-for="Vm.Comentario"></textarea>
                                <div asp-validation-for="Vm.Comentario" class="invalid-feedback"></div>
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Vm.UploadArchivo"></label>
                                <div class="col-md-10">
                                    <input asp-for="Vm.UploadArchivo" type="file" class="form-control" style="height: auto" />
                                    <div asp-validation-for="Vm.UploadArchivo" class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <button class="btn btn-danger btn--icon-text" type="submit"><i class="zmdi zmdi-arrow-forward"></i> Guardar</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>



@section Csses
    {
    <link href="~/css/kendo.bootstrap-v4.min.css" rel="stylesheet" />
    <link href="~/css/flatpickr.min.css" rel="stylesheet" />
    <link href="~/css/select2.min.css" rel="stylesheet" />
}

@section Scripts
    {
    <script src="~/js/jszip.min.js"></script>
    <script src="~/js/kendo.all.min.js"></script>
    <script src="~/js/kendo.culture.es-CL.min.js"></script>
    <script src="~/js/kendo.messages.es-ES.min.js"></script>
    <script src="~/js/flatpickr.min.js"></script>
    <script src="~/js/fp_es.js"></script>
    <script src="~/js/jquery.mask.min.js"></script>
    <script src="~/js/select2.full.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation/dist/jQuery.validator.messages.ES.js"></script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        $(document).ready(function () {
            flatpickr.localize(flatpickr.l10ns.es);
            var calendarFD = flatpickr(document.getElementById("Vm_FechaInspeccion"),
                {
                    dateFormat: "d-m-Y",
                    locale: "es",
                    enableTime: false,
                    nextArrow: '<i class="zmdi zmdi-long-arrow-right" />',
                    prevArrow: '<i class="zmdi zmdi-long-arrow-left" />'
                });
            calendarFD.setDate($('#hdnFechaNac').val());
            kendo.culture("es-CL");
        });
    </script>
}
