﻿@page
@model PostVenta.Web.Pages.Inspecciones.IndexModel
@{
}


<header class="content__title">
    <h1>Módulo de inspecciones</h1>
</header>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Listado de inspecciones</h4>
        <div class="actions">
            <a asp-page="Crear" class="btn btn-primary">Agregar</a>
        </div>
        <div class="table-responsive">
            <div id="grid" style="width: 2500px;"></div>
        </div>
    </div>
</div>


@section Csses
    {
    <link href="~/css/kendo.bootstrap-v4.min.css" rel="stylesheet" />
}

@section Scripts
    {
    <script src="~/js/jszip.min.js"></script>
    <script src="~/js/kendo.all.min.js"></script>
    <script src="~/js/kendo.culture.es-CL.min.js"></script>
    <script src="~/js/kendo.messages.es-ES.min.js"></script>
    <script>

        $(document).ready(function () {
            $("#grid").kendoGrid({
                toolbar: ["excel"],
                excel: {
                    fileName: "Casos.xlsx",
                    filterable: true
                },
                dataSource: {
                    transport: {
                        read: {
                            url: `../../api/Inspecciones`
                        }
                    },
                    schema: {
                        data: function (response) {
                            return response.inspecciones;
                        },
                        model: {
                            fields: {
                                id: { type: "number" },
                                fechaInspeccion: { type: "date" },
                                vehiculoPatente: { type: "string" },
                                folio: { type: "string" },
                                archivoId: { type: "number" },
                                tipoEstado: { type: "string" },
                                rutConductor: { type: "string" },
                                observacion: { type: "string" },
                                comentario: { type: "string" }
                            }
                        }
                    },
                    pageSize: 20
                },
                height: 550,
                scrollable: false,
                sortable: true,
                filterable: true,
                pageable: {
                    input: true,
                    numeric: false
                },
                columns: [
                    { hidden: true, field: "id" },
                    { field: "folio", title: "Folio" },
                    { field: "fechaInspeccion", title: "Fecha Inspección", format: "{0:dd/MM/yyyy}" },
                    { field: "vehiculoPatente", title: "Patente" },
                    { field: "tipoEstado", title: "Patente" },
                    { field: "rutConductor", title: "Patente" },
                    { field: "observacion", title: "Patente" },
                    { field: "comentario", title: "Patente" },
                    { field: "tipoEstado", title: "Patente" },
                    { field: "comentario", title: "Patente" },
                    {
                        template: function (dataItem) {
                            return (dataItem.archivoId)
                                ? "<a class='btn btn-danger' href='../Descarga/" +
                                dataItem.archivoId +
                                "'><i class='zmdi zmdi-download'></i></a>"
                                : "";
                        },
                        field: "archivoId",
                        title: "Adjunto",
                        width: 240,
                        filterable: false
                    }
                ]
            });
            $("#grid").data("kendoGrid").wrapper.find(".k-grid-header-wrap").off("scroll.kendoGrid");
        });

    </script>
}