﻿@page
<html>
<head>
    <meta charset="utf-8">
    <title>PowerBi Embedded Example</title>
    <link href="~/css/powerbi.css" rel="stylesheet" />
</head>
<body>
    <h1>
        PowerBi Embeded Example
    </h1>
    <div id="embedArea">
        <div class="reportContainer iframeContainer active" id="embedContainer"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="~/js/power-bi.min.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            // Read embed application token from textbox
            var txtAccessToken = 'H4sIAAAAAAAEAC1Wtc7FDJZ7l7_NSmFaaYowM6cL3zDjaN99P42mt05h-9j-9z929g5zVv7zv__k2ESQjh0mPWooCwUhxov4qGtd81tiT2l-P0hQ0KBlvUH4FUkBe_WWgycfTA9Qy7HK_dLHTCSIrO3WvDaDonjlWSN1OpJtm5j8UAza2ruCOctMGMsASNIWPM5fOAy-mfLYwpYM7ddWPkXLU6lMtcyeOMpHG8cPnf7sUwVaNxdFq-bcFsmvk2lilUaMc78GbEAZgqlx5AEjUA9uEyxR924qQx7ma4CYd4pWpRZeLlWcQ1pbWQu3mI-zYeP4ZZvLYwbkD5acxwqBTpD0aSGdqr6q_XXdRUosc0_6zExNVkfR3h-V1kkKJLIlkLzzqVKJTOTBT99XvQTSSuponuVdrWyCN944tgje3Cnwk9iDQAyVUpG2iOPOIrgOUOShRr5-W0w3TbX1loFTZ5V_1JPnW1A5pHAIh_1ibf0rIA5spBOfO3mEx5WUZcsAjUk3Syi3_Hz8LuBmMWdXjjasLOjWS3KK16uPyvfYbGrh4WdKqdYdSM_2Fdy-gTMSL2kI58GlNwqSsvdRUGJECtDGXxcWpPQdn4vYRZSBDKHucM-3gAesZeO-h1vnICjlieVkbs-j6e6rgDnSTGqWaeosVCCZUclwVTn584NvYRUu9857UOHH0knFuDlkuEHpmMT0WkZES5CL8NNwu0H-IMTB3boc1kcWXUSOZNhcUpsVdSI2pG9leg2NT2kmWlha63dEt9cNZVRii-VL6we1z4mw84Ex9HakqjESI2kJJeW-cyryRDayjkUqDH8OAL39i0DOIpjQCs0dJEx8BDWEC3-ccj4sA2CQakjpAbw2NtIHKarhJorx4IZOPS_sQBDL6nIqtYygqTo0G1l-3JnLTfevmSAiKl0RQAMpiSl8N4N0kjQsxUSmg8CeXftC1GnVN0O8V0SLBARHgo_fR4sxbsVcC4LzjXkMrWnR0Q19vMZJng3Q7PEnb8v-nsK00qgUeMdxE_eO3oVjPjGFXN-yIxNbu6ZzY3izPi_4cFbyku46pkQ2nr93R3OtkBIpnBDc5Mj35RJ8w_sLAoUkarLyKdIgv-2isG-D9pIVtHpOuscFjMq2HGSS79os4a3d8uJ2xFuhyA-1fEwYx2k1tPkufDh4hQcSGTNDb30ZROlXD9k1PU2FHJVY2CdBKuhqvmNBFOqI1SGkOxZfiXLPMp-PnCyo1nJvpmnS2xrk8XbK0-KzOKoMuP6cw3dHn7N0-0iiT4nNEK4wCAT3EiINn5VXN4S9fB570DnQARHo8PUA9AUqElBfa5HqxRl1L7OBKwPC3dmwxTQfXNrC_hqSOv1NKEToeRCeUSLm9wFOpf6Kziwyah7xf5GBEdtDFJRXA4s_ck7UKdRbqyjbLM6v5OYt7X5UbnDQmIx2DGX2Y5BVcMr-3B8UowGKCNnqRnmpIc0PWS3aUBJLcEBfZ8krT-7uY9dpxeU3UitQXjqpBmOU_6dUfduer_L3HjDP-hhSj6To8MXsX0KnJ-ZtrOwEh2zI5eKFzNl-WYvM1obmqBO8CK6Zv8Q9B_IR50mlRT4C1dnWv-BcznAvFjKsiXi8FBo_K9wM6LcMe_t4BBYKGLkIRvfMfV6cyZpkuNpbGCAleob7ifsy-sz1YnK3w8LFsDpGnCZablgfCjcrJw3NFlIV_IzTNUFYih-pUn8Ux_BSI3QbImaV2X_EDx0NypC0jJ42irDUAfjyCd4AJQJ-0fNsEx9YeDGXjV8QnUmDc9-GPFTcWM-YNO0rx11mfTz7nsmKorwafQOavSAvjalwe4P7SKHncKPFwaW6W00bbWBQJAQqTaNbhjmFznN0lgUKGQZquPVCw3xmz6b28LRA_abJavegrv36P2_rCP_wKyT2K2kQHvwo8xUieJoNRWbX0AltnV6kR5pTEF2te3b7INbfmB4s1xUnSa1Hqz_aLk1nWSgtQBmBUeZJJbWJ2klEzQ0BDYOL4TuxhoxF-rLEKuuwYcUbfvMRmfaVa2BlbhD_4sE2L_22zFP7QiPaEGo9BlmNK9nXdctjqiEXXdu6_6b1E1GFqCdY03whkWPUqdQomOys2FhjCH9gEaFAU1EvRORX8IbWart1JyHziU4eYax5bSK-OV1Hc2mIp0-V5bY0sHG0lvNjhWujALfF6O6KM4_q_RGhqzpmjpbPZX7R3fzrX__8zz_c9i7HrFXv38z4yMy1sL9PEQ52nYGma7MAhP210QeM2rpZIYd2V_qfklnTUnFhYPT77p3Vt3vqoQapa_brTaZdZejsCd-AwKSQQ2qu1z33DrcbfbYRJfcsd6sVl8FY_Pz48uO4nSkdZE32EsE440K9w-jgyIQtkns1d8r61vplJb2COlezpB4OFUJKdcmLflaQy_3A0I96fWbtNA1ayVJnVsBgRdpPptanOyi9PaoLEiHu-aq56HIHkkEtuZshAmeE-AWYYHemnMwEZcKBkze-jlX-NfEwjwV1Adp5-YwrWWprTJJd_plkJrqacHn1g6MouCM5_FsREjc3ZOQXRgqV8TqJf3oAodTO7fpfmt_lV21K-Mfyfo3EDKkFh82IG2yxeW7S6vwH5bXNlB3nVv3BDG2BIpgbhC8zmFnmv1DC3lMv0RschXb-sW8I_6opx1z3z-3XjCLRzKkxdXVHClIdlT291o0iQE_t8JtCNmk5ecSM937iKu2dMaPCDRNgG61XYYmNsnDkEW92yYJt01eGywVais19fFs3qe4D86KFBLr_quZde9AsKy3ghYwrP7efub-jX0M484kIrwo3NNelv9n8K99nI44cz6yWZD4ml2iza85vyxkRdULs59ttVBdV0ex-U8Wc2fGTKKbUcuWJptqIsxj-qfmr_lOZc-JCj_AU92-Kos_ZT5jADM6pbg2LBVMDOpuUSMfBYL3Rg_vg0VBRkBGLw3SiFr3i7qSO15fA_NH8f_8PmhvVuVoLAAA=';

            // Read embed URL from textbox
            var txtEmbedUrl = 'https://app.powerbi.com/reportEmbed?reportId=f6bfd646-b718-44dc-a378-b73e6b528204&groupId=be8908da-da25-452e-b220-163f52476cdd&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly9XQUJJLVVTLU5PUlRILUNFTlRSQUwtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQifQ%3d%3d';

            // Read report Id from textbox
            var txtEmbedReportId = 'f6bfd646-b718-44dc-a378-b73e6b528204';

            // Read embed type from radio
            var tokenType = '1';

            // Get models. models contains enums that can be used.
            var models = window['powerbi-client'].models;

            // We give All permissions to demonstrate switching between View and Edit mode and saving report.
            var permissions = models.Permissions.All;

            // Embed configuration used to describe the what and how to embed.
            // This object is used when calling powerbi.embed.
            // This also includes settings and options such as filters.
            // You can find more information at https://github.com/Microsoft/PowerBI-JavaScript/wiki/Embed-Configuration-Details.
            var config = {
                type: 'report',
                tokenType: tokenType == '0' ? models.TokenType.Aad : models.TokenType.Embed,
                accessToken: txtAccessToken,
                embedUrl: txtEmbedUrl,
                id: txtEmbedReportId,
                permissions: permissions,
                settings: {
                    filterPaneEnabled: true,
                    navContentPaneEnabled: true
                }
            };

            // Get a reference to the embedded report HTML element
            var embedContainer = $('#embedContainer')[0];

            // Embed the report and display it within the div container.
            var report = powerbi.embed(embedContainer, config);

            // Report.off removes a given event handler if it exists.
            report.off("loaded");

            // Report.on will add an event handler which prints to Log window.
            report.on("loaded", function () {
                Log.logText("Loaded");
            });

            // Report.off removes a given event handler if it exists.
            report.off("rendered");

            // Report.on will add an event handler which prints to Log window.
            report.on("rendered", function () {
                Log.logText("Rendered");
            });

            report.on("error", function (event) {
                Log.log(event.detail);

                report.off("error");
            });

            report.off("saved");
            report.on("saved", function (event) {
                Log.log(event.detail);
                if (event.detail.saveAs) {
                    Log.logText('In order to interact with the new report, create a new token and load the new report');
                }
            });
        }
    </script>
</body>
</html>