﻿
<header class="header">
    <div class="navigation-trigger hidden-xl-up" data-ma-action="aside-open" data-ma-target=".sidebar">
        <div class="navigation-trigger__inner">
            <i class="navigation-trigger__line"></i>
            <i class="navigation-trigger__line"></i>
            <i class="navigation-trigger__line"></i>
        </div>
    </div>
    <div class="header__logo hidden-sm-down">
        <div style="background: #fff; width:74px; border-radius: 1px; padding:2px">
            <img src="~/images/logo.png" width="70" />
        </div>
    </div>

    <ul class="top-nav top-nav-left">
        <li class="dropdown hidden-xs-down">
            <a href="" data-toggle="dropdown">Inspecciones |</a>
            <div class="dropdown-menu dropdown-menu-right">
                <a asp-page="/Inspecciones/Index" class="dropdown-item">Inspecciones 1</a>
                <a asp-page="/Asistencias/Index" class="dropdown-item">Asistencias</a>
                <a  asp-page="/Home/PBI" class="dropdown-item">Power BI Demo</a>
                <a href="" class="dropdown-item">Inspecciones 4</a>
            </div>
        </li>

        <li class="dropdown hidden-xs-down">
            <a href="" data-toggle="dropdown">Asistencias |</a>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="" class="dropdown-item">Pellentesque</a>
                <a href="" class="dropdown-item">Vestibulum</a>
                <a href="" class="dropdown-item">Quisque placerat</a>
                <a href="" class="dropdown-item">Lorem ipsum</a>
            </div>
        </li>
    </ul>

    <ul class="top-nav">
        <li class="dropdown hidden-xs-down">
            <a href="" data-toggle="dropdown"><i class="zmdi zmdi-more-vert"></i></a>
            <div class="dropdown-menu dropdown-menu-right">
                <a asp-page="/SignOut" class="dropdown-item">Salir</a>
            </div>
        </li>
    </ul>
</header>